<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./assets/img/logo.png">
        </a>
        <button class="navbar-toggler" type="button"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H21V2H0V0Z" fill="#161616"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 6H21V8H0V6Z" fill="#161616"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 12H21V14H0V12Z" fill="#161616"/>
                </svg>
                
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Our Stores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">GV Business</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Client Portal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">GV Portal</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-success signup" type="submit">
                    <a href="#" >Sign Up</a>
                </button>
            </form>
        </div>
    </div>
  </nav>
